<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Rendimiento Web</title>
    <link href="css/dropzone.css" rel="stylesheet">
    <script src="js/dropzone.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>

</head>
<body>

    <form id="frmDropzone" action="#" class="dropzone">
        <label for="tags">Tags</label>
        <input type="text" name="tags" id="tags">

        <label for="description">Description</label>
        <input type="text" name="description" id="description">

        <button id="submit" style="margin-top: 30px">Upload</button>
    </form>

    <b>Options: </b>
    <ul>
        <li><a href="/gallery">My pictures </a></li>
        <li><a href="/search">Search</a></li>
    </ul>

</body>
</html>
